nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #90a0d9;
  padding-block: 30px;
  padding-inline: 30px;
}
nav div {
  display: flex;
  gap: 15px;
  align-items: center;
}

nav img {
  max-width: 30px;
  background-color: #90a0d9;
  border-radius: 20px;
  padding: 5px;
}
